name: release-drafter-bip0039
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled
permissions:
  contents: write
  pull-requests: read
jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-bip0039.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
